.profile {
  border: 1px solid #242424;
  border-radius: 10px;
  padding: 3%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: fixed;
  top: 25%;
  left: 25%;
}
.profile-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-logout {
  margin-top: 15px;
}
