.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3%;
  width: 25%;
  align-items: center;
  justify-content: center;
}
.form-input {
  outline: none;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 85%;
}
.submit.MuiButton-root {
  background-color: rgb(63, 138, 224);
  color: #fff;
  margin-top: 10px;
}
.control-label {
  flex-grow: 1;
}
